.footer {
  padding: 6.25rem 7.5rem 3.75rem;
  background-color: var(--color-bg--secondary);
  background-image: url('/src/assets/images/backgroundFooter.svg');
  background-size: contain;
  background-position: left bottom;
  background-repeat: no-repeat;

  &__Top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__Company {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5625rem;

    img {
      width: 2.5rem;
      height: auto;
      display: block;
    }

    p {
      max-width: 15.625rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.6875rem;
      letter-spacing: 0.0225rem;
      color: var(--color-text-paragraph);
    }
  }

  &__Table {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    max-width: 37.5rem;
    width: 100%;
  }

  &__Column {
    display: flex;
    flex-direction: column;
    gap: 1.625rem
  }

  &__Title {
    font-size: 0.8125rem;
    line-height: 1.25rem;
    letter-spacing: 0.09375rem;
    text-transform: uppercase;
    font-weight: 500;
  }

  &__Content {
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
    font-size: 0.9375rem;
    line-height: 1.25rem;

    a {
      color: var(--color-text-secondary);
      text-decoration: none;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__Bottom {
    display: flex;
    flex-direction: column;
    gap: 3.75rem;
    margin-top: 6.1875rem;
    margin-bottom: 4.375rem;

    hr {
      height: 0.0625rem;
      width: 100%;
      background: rgba(126, 130, 143, 0.09);
      border: none;
    }
  }

  &__Info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__Build {
    font-size: 0.9375rem;
    line-height: 1.25rem;
    color: var(--color-text-paragraph);
  }

  &__Build__Link {
    color: var(--color-accent-primary);
    text-decoration: none;

    &:hover {
      opacity: 0.7;
    }
  }

  &__Socials {
    display: flex;
    gap: 1.5rem;
  }
}
