.cart {
  position: relative;
  padding: 1.1875rem 1.0625rem 1.0625rem !important;
}

.counter {
  position: absolute;
    top: -0.3125rem;
    right: -0.3125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5625rem;
    height: 1.5625rem;
    border-radius: 100%;
    background-color: var(--color-bg--main);

  &__val {
    
    color: var(--color-accent-primary);
    font-size: 0.812rem;
    line-height: 1.125rem;
  }
}
