.social__media {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.border{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  background: transparent;
  border-radius: 100px;
  outline: 0.0625rem solid rgba(126, 130, 143, 0.30);
}
