.social__media {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.href {
  display: inline-block; 
  text-decoration: none;
  color: inherit;
}

.border {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  background: transparent;
  border-radius: 100px;
  outline: 0.0625rem solid rgba(126, 130, 143, 0.30);
  transition: outline-color 0.3s ease;

  &:hover {
    outline-color: var(--social-media-color);
  }
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  background-color: var(--social-media-color); 
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  transition: background-color 0.3s ease;
}

.link:hover .icon {
  background-color: var(--social-media-hover-color, var(--social-media-color));
}

.inst {
  mask-image: url("@images/icons/inst.svg");
}

.x {
  mask-image: url("@images/icons/x.svg");
}

.youtube {
  mask-image: url("@images/icons/youtube.svg");
}